In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import os

In [2]:
cd = "C:\\Users\\ASUS\\Desktop\\Overreaction_replication"

In [3]:
os.listdir(cd)

['.Rhistory',
 '1-year treasury yield.csv',
 'AAA.csv',
 'BAA.csv',
 'Belief overreaction and stock market puzzles Replication.docx',
 'code',
 'compustat.csv',
 'CPILFESL.csv',
 'CRSP.csv',
 'economic policy uncertainty index.csv',
 'FF5_data.csv',
 'FF_5.csv',
 'financial_ratio.csv',
 'IBES.csv',
 'Inflation.csv',
 'link_data.csv',
 'Long-Term Government Bond Yields.csv',
 'LTG_portfolio.csv',
 'LTG_portfolio_return.csv',
 'LTG_portfolio_return.dta',
 'market_level_data.csv',
 'MULTPL-SHILLER_PE_RATIO_MONTH.csv',
 'MULTPL-SP500_DIV_YIELD_MONTH.csv',
 'MULTPL-SP500_INFLADJ_MONTH.csv',
 'MULTPL-SP500_PE_RATIO_MONTH.csv',
 'refine_financial_ratio.csv',
 'Result',
 'sp500.csv',
 'sp500_data.csv',
 'sp500_index.csv',
 'SVIX2.csv',
 'table1_panelA.docx',
 'table1_panelB.docx',
 'table1_panelC.docx',
 'table2_panelA_1.docx',
 'table2_panelA_3.docx',
 'table2_panelA_5.docx',
 'table2_panelB_1.docx',
 'table2_panelB_3.docx',
 'table2_panelB_5.docx',
 'table3.docx',
 'table4_1.docx',
 'table4_3.docx',
 'table4_5.docx',
 'table5.docx',
 'table6.docx',
 'table7_3.docx',
 'table7_5.docx',
 'table8.docx',
 'table9_panelA.docx',
 'table9_panelB.docx',
 'whole_firm_data.csv']

In [4]:
os.chdir(cd)

## S&P500 data

In [226]:
data = pd.read_csv('sp500_data.csv')

In [227]:
data

,date,rankdate,LTG,cae,epspx,EPS,EPS_1,EPS_2,EPS_3,EPS_4,...,delta_LTG,forecast_error,e_cae,dp,pe,SVIX,term_spread,credit_spread,USEPUINDXM,INFCPI1YR
0,1981-12-31,198112,0.134848,0.011662,0.015958,0.014090,0.014687,0.017453,0.016973,0.019160,...,NaN,-0.127627,0.313628,-2.926206,2.086914,NaN,0.065511,0.151034,NaN,7.70
1,1982-01-29,198201,0.137856,0.011722,0.015995,0.014137,0.014679,0.017367,0.018145,0.020553,...,NaN,-0.126173,0.310798,-2.868219,2.045109,NaN,0.018679,0.119100,NaN,6.62
2,1982-02-26,198202,0.135461,0.012313,0.014688,0.014577,0.016001,0.019101,0.020099,0.022771,...,NaN,-0.137941,0.176331,-2.840439,2.033398,NaN,-0.020577,0.117856,NaN,6.62
3,1982-03-31,198203,0.134088,0.012313,0.014637,0.014557,0.016203,0.019189,0.020180,0.022837,...,NaN,-0.133110,0.172946,-2.803460,2.012233,NaN,-0.006473,0.142918,NaN,6.62
4,1982-04-30,198204,0.137454,0.012299,0.014619,0.014519,0.015817,0.018980,0.020095,0.022828,...,NaN,-0.130330,0.172802,-2.847312,2.075684,NaN,-0.007900,0.148801,NaN,6.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,2020-08-31,202008,0.111146,0.111708,0.142138,0.128999,0.146807,0.185391,0.213238,0.223829,...,-0.020844,NaN,0.240912,-4.051285,3.538347,NaN,1.609438,0.373860,224.42637,1.77
465,2020-09-30,202009,0.111267,0.111874,0.142341,0.129299,0.128020,0.162646,0.189234,0.201482,...,-0.015849,NaN,0.240852,-4.045554,3.534270,NaN,1.654558,0.374693,218.05829,1.77
466,2020-10-30,202010,0.110321,0.111852,0.143228,0.128859,0.131456,0.164931,0.191634,0.204860,...,-0.014983,NaN,0.247258,-4.062846,3.563883,NaN,1.804498,0.381056,249.17362,2.07
467,2020-11-30,202011,0.119303,0.111678,0.130117,0.128499,0.137873,0.167490,0.194547,0.208777,...,0.000813,NaN,0.152817,-4.104395,3.615233,NaN,1.981001,0.361013,246.70710,2.07
468,2020-12-31,202012,0.208772,0.109594,0.127061,0.125402,0.136154,0.165874,0.192546,0.209741,...,0.104731,NaN,0.147889,-4.147745,3.670206,NaN,2.230014,0.335207,246.12610,2.07

In [228]:
for horizon in range(1, 6):
    name = 'return_' + str(horizon)
    data[name] = data['return'].rolling(12 * horizon).sum().shift(-12 * horizon)

In [229]:
data['return_1_3'] = data['return_1'] + 0.9775926 * data['return_2'] + 0.9775926 ** 2 * data['return_3']

In [230]:
data['return_1_5'] = data['return_1_3'] + 0.9775926 ** 3 * data['return_4'] + 0.9775926 ** 4 * data['return_5']

In [231]:
# For table 5
data['forecast_error_m1'] = data['forecast_error'].shift(12)
data['forecast_error_m2'] = data['forecast_error'].shift(24)
data['forecast_error_m3'] = data['forecast_error'].shift(36)
data['forecast_error_m4'] = data['forecast_error'].shift(48)

data['delta_LTG_1'] = data['delta_LTG'].shift(-12)
data['delta_LTG_2'] = data['delta_LTG'].shift(-24)
data['delta_LTG_3'] = data['delta_LTG'].shift(-36)
data['delta_LTG_4'] = data['delta_LTG'].shift(-48)
data['delta_LTG_5'] = data['delta_LTG'].shift(-60)

In [232]:
data.to_csv('sp500_data.csv', index=False)

In [233]:
data

,date,rankdate,LTG,cae,epspx,EPS,EPS_1,EPS_2,EPS_3,EPS_4,...,return_1_5,forecast_error_m1,forecast_error_m2,forecast_error_m3,forecast_error_m4,delta_LTG_1,delta_LTG_2,delta_LTG_3,delta_LTG_4,delta_LTG_5
0,1981-12-31,198112,0.134848,0.011662,0.015958,0.014090,0.014687,0.017453,0.016973,0.019160,...,1.856124,NaN,NaN,NaN,NaN,-0.008387,-0.001760,-0.006031,-0.005391,-0.003825
1,1982-01-29,198201,0.137856,0.011722,0.015995,0.014137,0.014679,0.017367,0.018145,0.020553,...,2.147854,NaN,NaN,NaN,NaN,-0.012181,-0.003120,-0.003085,-0.005614,-0.004011
2,1982-02-26,198202,0.135461,0.012313,0.014688,0.014577,0.016001,0.019101,0.020099,0.022771,...,2.532424,NaN,NaN,NaN,NaN,-0.009370,-0.001654,-0.006018,-0.004148,-0.002379
3,1982-03-31,198203,0.134088,0.012313,0.014637,0.014557,0.016203,0.019189,0.020180,0.022837,...,2.696003,NaN,NaN,NaN,NaN,-0.007178,-0.005280,-0.004735,-0.005231,-0.000672
4,1982-04-30,198204,0.137454,0.012299,0.014619,0.014519,0.015817,0.018980,0.020095,0.022828,...,2.557772,NaN,NaN,NaN,NaN,-0.010640,-0.005777,-0.006621,-0.002297,-0.001086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,2020-08-31,202008,0.111146,0.111708,0.142138,0.128999,0.146807,0.185391,0.213238,0.223829,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,2020-09-30,202009,0.111267,0.111874,0.142341,0.129299,0.128020,0.162646,0.189234,0.201482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,2020-10-30,202010,0.110321,0.111852,0.143228,0.128859,0.131456,0.164931,0.191634,0.204860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,2020-11-30,202011,0.119303,0.111678,0.130117,0.128499,0.137873,0.167490,0.194547,0.208777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,2020-12-31,202012,0.208772,0.109594,0.127061,0.125402,0.136154,0.165874,0.192546,0.209741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## firm_level

In [393]:
firm_data = pd.read_csv('market_level_data.csv')

In [235]:
firm_data

,PERMNO,date,rankdate,NCUSIP,PRC,RET,SHROUT,CFACSHR,vwretd,CUSIP,...,LTG,ann_cfacshr,Year,lag_LTG,delta_LTG,MV,lag_MV,log_RET,forecast_error,pe
0,10057,1977-10-31,197710,00462610,11.12500,-0.101010,4410,1.0,-0.039278,00462610,...,NaN,1.0,1977,NaN,NaN,4.906125e+04,NaN,-0.106483,NaN,2.839978
1,10057,1977-11-30,197711,00462610,13.25000,0.204494,4410,1.0,0.045440,00462610,...,NaN,1.0,1977,NaN,NaN,5.843250e+04,49061.25,0.186060,NaN,3.014780
2,10057,1977-12-30,197712,00462610,12.62500,-0.047170,4410,1.0,0.008223,00462610,...,NaN,1.0,1977,NaN,NaN,5.567625e+04,58432.50,-0.048319,NaN,2.458718
3,10057,1978-01-31,197801,00462610,12.75000,0.009901,4410,1.0,-0.055199,00462610,...,NaN,1.0,1978,NaN,NaN,5.622750e+04,55676.25,0.009852,NaN,2.468570
4,10057,1978-02-28,197802,00462610,13.75000,0.078431,4410,1.0,-0.009275,00462610,...,NaN,1.0,1978,NaN,NaN,6.063750e+04,56227.50,0.075507,NaN,2.544078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263032,93429,2020-09-30,202009,12503M10,87.74000,-0.044122,108758,1.0,-0.035056,12503M10,...,0.0280,1.0,2020,0.0275,0.0005,9.542427e+06,9982896.82,-0.045125,NaN,3.265418
263033,93429,2020-10-30,202010,12503M10,81.29000,-0.073513,108042,1.0,-0.020178,12503M10,...,0.0300,1.0,2020,0.0275,0.0025,8.782734e+06,9542426.92,-0.076355,NaN,3.189063
263034,93429,2020-11-30,202011,12503M10,91.32000,0.128552,108042,1.0,0.123707,12503M10,...,0.0349,1.0,2020,0.0270,0.0079,9.866395e+06,8782734.18,0.120935,NaN,3.305409
263035,93429,2020-12-31,202012,12503M10,93.12000,0.019711,108042,1.0,0.045048,12503M10,...,0.0349,1.0,2020,0.0214,0.0135,1.006087e+07,9866395.44,0.019519,NaN,3.324929
263036,93436,2020-12-31,202012,88160R10,705.66998,0.243252,959854,3.0,0.045048,88160R10,...,4.0794,3.0,2020,NaN,NaN,6.773402e+08,NaN,0.217731,NaN,NaN

In [390]:
financial_ratio = pd.read_csv('refine_financial_ratio.csv')

In [391]:
financial_ratio

         PERMNO    datadate  rankdate     bm   pe_exi   pe_inc   dp  CAPEI
0         25881  1974-12-31    197601  1.370    7.627    4.688  NaN  7.544
1         25881  1975-12-31    197602  1.201    6.868    6.868  NaN  8.922
2         25881  1975-12-31    197603  1.201    7.418    7.418  NaN  9.654
3         25881  1975-12-31    197604  1.201    7.555    7.555  NaN  9.833
4         25881  1975-12-31    197605  0.861    5.310    5.310  NaN  9.392
...         ...         ...       ...    ...      ...      ...  ...    ...
2621476   80577  2019-12-31    202010  0.448   -1.651   -1.651  NaN    NaN
2621477   80577  2019-12-31    202011  0.465   -2.156   -2.156  NaN    NaN
2621478   80577  2019-12-31    202012  0.465   -2.031   -2.031  NaN    NaN
2621479   19654  2020-01-31    202011    NaN -262.770 -262.770  NaN    NaN
2621480   19654  2020-01-31    202012  0.070 -183.920 -183.920  NaN    NaN

[2621481 rows x 8 columns]

In [394]:
firm_data = pd.merge(firm_data, financial_ratio, how='left', on=['PERMNO', 'datadate', 'rankdate'])

In [395]:
# 只取pay dividend以及earnings是positive的年份: the warnings should be fine
firm_data['dp'] = np.log(firm_data['dp'].str.replace('%', '').astype('float') / 100)
firm_data['pe_exi'] = np.log(firm_data['pe_exi'])
firm_data['pe_inc'] = np.log(firm_data['pe_inc'])
firm_data['log_RET'] = np.log(1 + firm_data['RET'])

C:\Users\ASUS\Desktop\LEARN\python\Anomaly\venv\Lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [396]:
firm_data.sort_values(by=['PERMNO', 'rankdate'], ascending=True, inplace=True)

In [397]:
firm_data

,PERMNO,date,rankdate,NCUSIP,PRC,RET,SHROUT,CFACSHR,vwretd,CUSIP,...,MV,lag_MV,log_RET,forecast_error,pe,bm,pe_exi,pe_inc,dp,CAPEI
0,10057,1977-10-31,197710,00462610,11.12500,-0.101010,4410,1.0,-0.039278,00462610,...,4.906125e+04,NaN,-0.106483,NaN,2.839978,1.600,2.780247,2.780247,-2.920625,9.576
1,10057,1977-11-30,197711,00462610,13.25000,0.204494,4410,1.0,0.045440,00462610,...,5.843250e+04,49061.25,0.186060,NaN,3.014780,NaN,NaN,NaN,NaN,NaN
2,10057,1977-12-30,197712,00462610,12.62500,-0.047170,4410,1.0,0.008223,00462610,...,5.567625e+04,58432.50,-0.048319,NaN,2.458718,1.572,2.458734,2.458734,-3.047026,10.272
3,10057,1978-01-31,197801,00462610,12.75000,0.009901,4410,1.0,-0.055199,00462610,...,5.622750e+04,55676.25,0.009852,NaN,2.468570,1.572,2.468608,2.468608,-3.055482,10.373
4,10057,1978-02-28,197802,00462610,13.75000,0.078431,4410,1.0,-0.009275,00462610,...,6.063750e+04,56227.50,0.075507,NaN,2.544078,1.572,2.163668,2.163668,-3.132698,11.330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263032,93429,2020-09-30,202009,12503M10,87.74000,-0.044122,108758,1.0,-0.035056,12503M10,...,9.542427e+06,9982896.82,-0.045125,NaN,3.265418,0.362,3.048846,3.048846,-3.958067,28.804
263033,93429,2020-10-30,202010,12503M10,81.29000,-0.073513,108042,1.0,-0.020178,12503M10,...,8.782734e+06,9542426.92,-0.076355,NaN,3.189063,0.362,2.972515,2.972515,-3.877622,26.511
263034,93429,2020-11-30,202011,12503M10,91.32000,0.128552,108042,1.0,0.123707,12503M10,...,9.866395e+06,8782734.18,0.120935,NaN,3.305409,0.394,3.072184,3.072184,-3.995405,28.644
263035,93429,2020-12-31,202012,12503M10,93.12000,0.019711,108042,1.0,0.045048,12503M10,...,1.006087e+07,9866395.44,0.019519,NaN,3.324929,0.394,3.091679,3.091679,-4.017384,29.208
263036,93436,2020-12-31,202012,88160R10,705.66998,0.243252,959854,3.0,0.045048,88160R10,...,6.773402e+08,NaN,0.217731,NaN,NaN,0.039,6.129967,6.129967,NaN,-684.030

In [398]:
for horizon in range(1, 6):
    name = 'return_' + str(horizon)
    firm_data[name] = firm_data[['PERMNO', 'log_RET']].groupby(['PERMNO']).apply(lambda x: x['log_RET'].rolling(12 * horizon).sum().shift(-12 * horizon)).values

In [399]:
firm_data['return_1_3'] = firm_data['return_1'] + 0.9775926 * firm_data['return_2'] + 0.9775926 ** 2 * firm_data['return_3']

In [400]:
firm_data['return_1_5'] = firm_data['return_1_3'] + 0.9775926 ** 3 * firm_data['return_4'] + 0.9775926 ** 4 * firm_data['return_5']

In [401]:
# firm_data = firm_data[(firm_data.rankdate >= 198212)]

In [402]:
firm_data.to_csv('whole_firm_data.csv', index=False)

## LTG Portfolio

In [247]:
LTG_portfolio = pd.read_csv("LTG_portfolio.csv")

In [248]:
LTG_portfolio

     rankdate       Mkt  LLTG_RET  HLTG_RET  LLTG_error  HLTG_error
0      198112 -0.028096 -0.021398 -0.042455   -0.454033   -0.878374
1      198201 -0.026209  0.012239 -0.025446   -0.427342   -1.048341
2      198202 -0.051126 -0.026795 -0.116379   -0.256887   -1.234328
3      198203 -0.010101  0.024760 -0.069597   -0.314561   -1.153960
4      198204  0.043269  0.005781  0.047966   -0.308265   -1.049375
..        ...       ...       ...       ...         ...         ...
464    202008  0.068442  0.067003  0.083357   -0.078273         NaN
465    202009 -0.035056 -0.036290 -0.056063   -0.080973         NaN
466    202010 -0.020178  0.010338 -0.035786   -0.083273         NaN
467    202011  0.123707  0.264065  0.083138   -2.253671         NaN
468    202012  0.045048  0.042683  0.048528   -2.253671         NaN

[469 rows x 6 columns]

In [249]:
LTG_portfolio['LLTG_RET'] = np.log(1 + LTG_portfolio.LLTG_RET)
LTG_portfolio['HLTG_RET'] = np.log(1 + LTG_portfolio.HLTG_RET)
LTG_portfolio['Mkt'] = np.log(1 + LTG_portfolio.Mkt)

In [250]:
for horizon in range(1, 6):
    LLTG_name = 'LLTG_' + str(horizon)
    HLTG_name = 'HLTG_' + str(horizon)
    Mkt_name = 'Mkt_' + str(horizon)
    LTG_portfolio[LLTG_name] = LTG_portfolio['LLTG_RET'].rolling(12 * horizon).sum().shift(-12 * horizon)
    LTG_portfolio[HLTG_name] = LTG_portfolio['HLTG_RET'].rolling(12 * horizon).sum().shift(-12 * horizon)
    LTG_portfolio[Mkt_name] = LTG_portfolio['Mkt'].rolling(12 * horizon).sum().shift(-12 * horizon)

In [251]:
for k in ['LLTG', 'HLTG', 'Mkt']:
    name = k + '_1_5'
    LTG_portfolio[name] = 0
    for i in range(1, 6):
        ret_period = k + '_' + str(i)
        LTG_portfolio[name] += 0.9775926 ** (i - 1) * LTG_portfolio[ret_period]
    name = k + '_1_3'
    LTG_portfolio[name] = 0
    for i in range(1, 4):
        ret_period = k + '_' + str(i)
        LTG_portfolio[name] += 0.9775926 ** (i - 1) * LTG_portfolio[ret_period]

In [252]:
LTG_portfolio

,rankdate,Mkt,LLTG_RET,HLTG_RET,LLTG_error,HLTG_error,LLTG_1,HLTG_1,Mkt_1,LLTG_2,...,Mkt_4,LLTG_5,HLTG_5,Mkt_5,LLTG_1_5,LLTG_1_3,HLTG_1_5,HLTG_1_3,Mkt_1_5,Mkt_1_3
0,198112,-0.028498,-0.021630,-0.043383,-0.454033,-0.878374,0.211874,0.139978,0.185834,0.387056,...,0.694289,1.093210,0.559803,0.838934,2.987294,1.191965,1.380017,0.496637,2.384419,0.969534
1,198201,-0.026559,0.012164,-0.025775,-0.427342,-1.048341,0.245313,0.227979,0.253385,0.427947,...,0.730630,1.209745,0.750873,0.986381,3.183789,1.283658,1.811871,0.690221,2.737718,1.154211
2,198202,-0.052479,-0.027160,-0.123727,-0.256887,-1.234328,0.286082,0.373469,0.335632,0.453414,...,0.853102,1.215001,0.968826,1.085669,3.366226,1.384114,2.519928,1.003435,3.103579,1.314965
3,198203,-0.010152,0.024458,-0.072138,-0.314561,-1.153960,0.260708,0.481354,0.379874,0.429092,...,0.915740,1.253824,1.056227,1.119210,3.384472,1.345322,2.923592,1.219958,3.267935,1.390167
4,198204,0.042359,0.005764,0.046851,-0.308265,-1.049375,0.315978,0.472635,0.409077,0.454306,...,0.865446,1.249562,0.997219,1.059709,3.432027,1.435634,2.708970,1.109206,3.114300,1.337864
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,202008,0.066202,0.064854,0.080064,-0.078273,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,202009,-0.035685,-0.036965,-0.057696,-0.080973,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,202010,-0.020384,0.010285,-0.036442,-0.083273,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,202011,0.116633,0.234333,0.079862,-2.253671,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,202012,0.044063,0.041797,0.047388,-2.253671,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [253]:
LTG_portfolio = LTG_portfolio[['rankdate', 'Mkt_5', 'Mkt_3', 'Mkt_1_5', 'LLTG_1_5', 'HLTG_1_5', 'LLTG_1_3', 'HLTG_1_3', 'LLTG_error', 'HLTG_error']].reset_index(drop=True)

In [254]:
LTG_portfolio['PMO_1_5'] = LTG_portfolio['LLTG_1_5'] - LTG_portfolio['HLTG_1_5']
LTG_portfolio['PMO_1_3'] = LTG_portfolio['LLTG_1_3'] - LTG_portfolio['HLTG_1_3']

In [255]:
LTG_portfolio['PMO_error'] = LTG_portfolio['LLTG_error'] - LTG_portfolio['HLTG_error']

In [256]:
LTG_portfolio.to_csv('LTG_portfolio_return.csv', index=False)

## FF5

In [403]:
market_data = pd.read_csv('market_level_data.csv')

In [404]:
market_data = pd.merge(market_data, financial_ratio, how='inner', on=['PERMNO', 'datadate', 'rankdate'])

In [405]:
market_data['BV'] = market_data['bm'] * market_data['MV']
market_data['OP'] = market_data['oibdp'] / market_data['BV']
market_data['inv'] = (market_data['at'] - market_data['at'].shift(12)) / market_data['at'].shift(12)

In [406]:
market_size = market_data.pivot_table(index='rankdate', columns='PERMNO', values='MV')

In [407]:
market_size

PERMNO,10057,10078,10104,10107,10108,10137,10138,10145,10147,10153,...,92709,92890,92988,93002,93089,93096,93132,93422,93429,93436
rankdate,,,,,,,,,,,,,,,,,,,,,
197608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202008,NaN,NaN,1.755900e+08,1.706733e+09,NaN,NaN,3.159872e+07,1.161802e+08,NaN,NaN,...,NaN,NaN,NaN,1.404225e+08,30312594.62,5.027498e+07,21362633.16,NaN,9982896.82,NaN
202009,NaN,NaN,1.797500e+08,1.590936e+09,NaN,NaN,2.902580e+07,1.155205e+08,NaN,NaN,...,NaN,NaN,NaN,1.473678e+08,30159387.81,5.220251e+07,19120563.00,NaN,9542426.92,NaN
202010,NaN,NaN,1.689409e+08,1.530774e+09,NaN,NaN,2.868000e+07,1.157431e+08,NaN,NaN,...,NaN,NaN,NaN,1.422994e+08,28936142.30,5.197589e+07,17916582.84,NaN,8782734.18,NaN
202011,NaN,NaN,1.737885e+08,1.618475e+09,NaN,NaN,3.247276e+07,1.430878e+08,NaN,NaN,...,NaN,NaN,NaN,1.633278e+08,32243222.90,5.443385e+07,20004172.36,NaN,9866395.44,NaN
202012,NaN,NaN,1.904496e+08,1.678381e+09,NaN,NaN,3.451162e+07,1.492486e+08,NaN,NaN,...,NaN,NaN,NaN,1.780793e+08,33799388.62,5.152371e+07,24136125.00,NaN,10060871.04,6.773402e+08

In [408]:
market_bm

PERMNO,10057,10078,10104,10107,10108,10137,10138,10145,10147,10153,...,92709,92890,92988,93002,93089,93096,93132,93422,93429,93436
rankdate,,,,,,,,,,,,,,,,,,,,,
197608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202008,NaN,NaN,0.073,0.077,NaN,NaN,0.241,0.193,NaN,NaN,...,NaN,NaN,NaN,0.219,0.091,0.179,0.024,NaN,0.362,NaN
202009,NaN,NaN,0.073,0.077,NaN,NaN,0.241,0.193,NaN,NaN,...,NaN,NaN,NaN,0.185,0.091,0.170,0.024,NaN,0.362,NaN
202010,NaN,NaN,0.055,0.077,NaN,NaN,0.241,0.193,NaN,NaN,...,NaN,NaN,NaN,0.185,0.091,0.170,0.024,NaN,0.362,NaN
202011,NaN,NaN,0.055,0.078,NaN,NaN,0.246,0.169,NaN,NaN,...,NaN,NaN,NaN,0.185,0.093,0.170,0.037,NaN,0.394,NaN
202012,NaN,NaN,0.055,0.078,NaN,NaN,0.246,0.169,NaN,NaN,...,NaN,NaN,NaN,0.146,0.093,0.150,0.037,NaN,0.394,0.039

In [414]:
market_OP

PERMNO,10057,10078,10104,10107,10108,10137,10138,10145,10147,10153,...,92709,92890,92988,93002,93089,93096,93132,93422,93429,93436
rankdate,,,,,,,,,,,,,,,,,,,,,
197608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202008,NaN,NaN,0.001335,0.000497,NaN,NaN,0.000339,0.000378,NaN,NaN,...,NaN,NaN,NaN,0.000335,0.000436,0.000315,0.000791,NaN,0.000211,NaN
202009,NaN,NaN,0.001304,0.000533,NaN,NaN,0.000369,0.000381,NaN,NaN,...,NaN,NaN,NaN,0.000378,0.000439,0.000319,0.000884,NaN,0.000221,NaN
202010,NaN,NaN,0.001841,0.000554,NaN,NaN,0.000373,0.000380,NaN,NaN,...,NaN,NaN,NaN,0.000392,0.000457,0.000321,0.000944,NaN,0.000240,NaN
202011,NaN,NaN,0.001790,0.000517,NaN,NaN,0.000323,0.000351,NaN,NaN,...,NaN,NaN,NaN,0.000341,0.000401,0.000306,0.000548,NaN,0.000196,NaN
202012,NaN,NaN,0.001633,0.000498,NaN,NaN,0.000304,0.000336,NaN,NaN,...,NaN,NaN,NaN,0.000444,0.000383,0.000367,0.000454,NaN,0.000192,0.000083

In [410]:
market_bm = market_data.pivot_table(index='rankdate', columns='PERMNO', values='bm')

In [411]:
market_inv = market_data.pivot_table(index='rankdate', columns='PERMNO', values='inv')

In [412]:
market_OP = market_data.pivot_table(index='rankdate', columns='PERMNO', values='OP')

In [415]:
mask = (~market_size.isna()) & (~market_bm.isna()) & (~market_inv.isna()) & (~market_OP.isna())

In [418]:
mask

PERMNO,10057,10078,10104,10107,10108,10137,10138,10145,10147,10153,...,92709,92890,92988,93002,93089,93096,93132,93422,93429,93436
rankdate,,,,,,,,,,,,,,,,,,,,,
197608,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197609,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197610,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197611,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197612,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202008,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202009,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202010,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202011,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202012,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [417]:
mask[mask.index.values % 10 != 7] = False

In [419]:
market_size = market_size[mask]
size_rank = market_size.rank(pct = True)
market_size[size_rank <= 0.5] = 1
market_size[size_rank > 0.5] = 2
market_size = market_size.fillna(method='ffill', axis=0).reset_index()

In [422]:
market_size

        rankdate PERMNO  size_rank
0         197608  10057        NaN
1         197609  10057        NaN
2         197610  10057        NaN
3         197611  10057        NaN
4         197612  10057        NaN
...          ...    ...        ...
719012    202008  93436        NaN
719013    202009  93436        NaN
719014    202010  93436        NaN
719015    202011  93436        NaN
719016    202012  93436        NaN

[719017 rows x 3 columns]

In [421]:
market_size = market_size.melt(id_vars='rankdate', var_name = 'PERMNO', value_vars=market_size.columns[1:], value_name='size_rank')
market_data = pd.merge(market_data, market_size, how='left', on=['PERMNO', 'rankdate'])

In [423]:
market_bm = market_bm[mask]
bm_rank = market_bm.rank(pct = True)
market_bm[bm_rank <= 0.3] = 1
market_bm[(bm_rank > 0.3) & (bm_rank <= 0.7)] = 2
market_bm[bm_rank > 0.7] = 3
market_bm = market_bm.fillna(method='ffill', axis=0).reset_index()

In [424]:
market_bm = market_bm.melt(id_vars='rankdate', var_name = 'PERMNO', value_vars=market_bm.columns[1:], value_name='bm_rank')
market_data = pd.merge(market_data, market_bm, how='left', on=['PERMNO', 'rankdate'])

In [425]:
market_inv = market_inv[mask]
inv_rank = market_inv.rank(pct = True)
market_inv[inv_rank <= 0.3] = 1
market_inv[(inv_rank > 0.3) & (inv_rank <= 0.7)] = 2
market_inv[inv_rank > 0.7] = 3
market_inv = market_inv.fillna(method='ffill', axis=0).reset_index()

In [426]:
market_inv = market_inv.melt(id_vars='rankdate', var_name = 'PERMNO', value_vars=market_inv.columns[1:], value_name='inv_rank')
market_data = pd.merge(market_data, market_inv, how='left', on=['PERMNO', 'rankdate'])

In [427]:
market_OP = market_OP[mask]
OP_rank = market_OP.rank(pct = True)
market_OP[OP_rank <= 0.3] = 1
market_OP[(OP_rank > 0.3) & (OP_rank <= 0.7)] = 2
market_OP[OP_rank > 0.7] = 3
market_OP = market_OP.fillna(method='ffill', axis=0).reset_index()

In [428]:
market_OP = market_OP.melt(id_vars='rankdate', var_name = 'PERMNO', value_vars=market_OP.columns[1:], value_name='OP_rank')
market_data = pd.merge(market_data, market_OP, how='left', on=['PERMNO', 'rankdate'])

In [429]:
FF5 = market_data[['PERMNO', 'date', 'rankdate', 'RET', 'forecast_error', 'MV', 'vwretd', 'size_rank', 'bm_rank', 'inv_rank', 'OP_rank']]

In [430]:
FF5

,PERMNO,date,rankdate,RET,forecast_error,MV,vwretd,size_rank,bm_rank,inv_rank,OP_rank
0,10057,1977-10-31,197710,-0.101010,NaN,4.906125e+04,-0.039278,NaN,NaN,NaN,NaN
1,10057,1977-12-30,197712,-0.047170,NaN,5.567625e+04,0.008223,NaN,NaN,NaN,NaN
2,10057,1978-01-31,197801,0.009901,NaN,5.622750e+04,-0.055199,NaN,NaN,NaN,NaN
3,10057,1978-02-28,197802,0.078431,NaN,6.063750e+04,-0.009275,NaN,NaN,NaN,NaN
4,10057,1978-03-31,197803,0.150909,NaN,6.890625e+04,0.034009,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
240686,93429,2020-09-30,202009,-0.044122,NaN,9.542427e+06,-0.035056,1.0,3.0,2.0,3.0
240687,93429,2020-10-30,202010,-0.073513,NaN,8.782734e+06,-0.020178,1.0,3.0,2.0,3.0
240688,93429,2020-11-30,202011,0.128552,NaN,9.866395e+06,0.123707,1.0,3.0,2.0,3.0
240689,93429,2020-12-31,202012,0.019711,NaN,1.006087e+07,0.045048,1.0,3.0,2.0,3.0
240690,93436,2020-12-31,202012,0.243252,NaN,6.773402e+08,0.045048,NaN,NaN,NaN,NaN

In [431]:
FF5.to_csv('FF_5.csv', index=False)
# Go back to R to generate FF5_data.csv

### After Generate 'FF5_data.csv' from R

In [439]:
# COME BACK from R
FF5_data = pd.read_csv('FF5_data.csv')

In [440]:
FF5_data

,date,rankdate,LTG,lag_LTG,delta_LTG,Mkt,SMB,HML,RMW,CMA,f_SMB,f_HML,f_RMW,f_CMA
0,1981-12-31,198112,0.134848,NaN,NaN,-0.028096,0.002558,0.026763,-0.011074,0.002321,0.484944,0.485246,-0.562421,0.016866
1,1982-01-29,198201,0.137856,NaN,NaN,-0.026209,0.016150,0.061881,-0.067443,0.026761,0.512072,0.467979,-0.547325,0.081672
2,1982-02-26,198202,0.135461,NaN,NaN,-0.051126,0.045303,0.089231,-0.043419,-0.017813,0.489376,0.720235,-0.548756,-0.059108
3,1982-03-31,198203,0.134088,NaN,NaN,-0.010101,0.012236,0.054431,-0.034200,-0.024831,0.497725,0.659676,-0.533062,-0.058383
4,1982-04-30,198204,0.137454,NaN,NaN,0.043269,0.014968,-0.050282,0.002052,0.013496,0.492137,0.659792,-0.528183,-0.052283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,2020-08-31,202008,0.111146,0.131989,-0.020844,0.068442,-0.033948,-0.016824,0.035089,0.015432,-2.204406,-1.192231,NaN,2.160748
465,2020-09-30,202009,0.111267,0.127116,-0.015849,-0.035056,-0.007816,-0.000941,-0.011346,-0.014468,-2.203431,-1.193581,NaN,2.160748
466,2020-10-30,202010,0.110321,0.125304,-0.014983,-0.020178,0.030701,0.030603,-0.032818,0.037418,-2.202200,-1.194531,NaN,2.160348
467,2020-11-30,202011,0.119303,0.118489,0.000813,0.123707,0.090449,0.077020,0.006093,0.026568,-2.107625,-1.191081,NaN,2.089448
468,2020-12-31,202012,0.208772,0.104041,0.104731,0.045048,0.024113,0.001625,0.006728,0.031044,-2.107625,-1.191081,NaN,2.089448

In [441]:
FF5_data['Mkt'] = np.log(1 + FF5_data['Mkt'])
FF5_data['SMB'] = np.log(1 + FF5_data['SMB'])
FF5_data['HML'] = np.log(1 + FF5_data['HML'])
FF5_data['RMW'] = np.log(1 + FF5_data['RMW'])
FF5_data['CMA'] = np.log(1 + FF5_data['CMA'])

In [442]:
FF5_data['Mkt_1_5'] =FF5_data['Mkt'].rolling(60).sum().shift(-60)
for factor in ['SMB', 'HML', 'RMW', 'CMA']:
    for horizon in range(1, 6):
        name = factor + '_' + str(horizon)
        FF5_data[name] = FF5_data[factor].rolling(12 * horizon).sum().shift(-12 * horizon)

In [443]:
for factor in ['SMB', 'HML', 'RMW', 'CMA']:
    name = factor + '_1_5'
    FF5_data[name] = 0
    for i in range(1, 6):
        ret_period = factor + '_' + str(i)
        FF5_data[name] += 0.9775926 ** (i - 1) * FF5_data[ret_period]

In [444]:
FF5_data.to_csv('FF5_data.csv', index=False)

In [438]:
FF5_data

,date,rankdate,LTG,lag_LTG,delta_LTG,Mkt,SMB,HML,RMW,CMA,...,RMW_5,CMA_1,CMA_2,CMA_3,CMA_4,CMA_5,SMB_1_5,HML_1_5,RMW_1_5,CMA_1_5
0,1981-12-31,198112,0.134848,NaN,NaN,-0.028498,0.011145,0.034017,-0.012534,0.001154,...,-0.560782,0.008141,0.147282,0.179639,0.107284,0.137503,2.601279,1.960812,-2.019038,0.549621
1,1982-01-29,198201,0.137856,NaN,NaN,-0.026559,0.020902,0.045023,-0.084380,0.037726,...,-0.511922,-0.043429,0.131197,0.123770,0.045886,0.106195,2.444799,1.805935,-1.687193,0.342975
2,1982-02-26,198202,0.135461,NaN,NaN,-0.052479,0.056851,0.082951,-0.028714,-0.066189,...,-0.510716,0.012284,0.158869,0.227499,0.103651,0.165662,2.203006,1.429345,-1.542721,0.633155
3,1982-03-31,198203,0.134088,NaN,NaN,-0.010152,0.022428,0.061244,-0.052629,-0.026781,...,-0.447625,0.103622,0.201247,0.253954,0.108023,0.209061,2.230603,1.215427,-1.285736,0.834927
4,1982-04-30,198204,0.137454,NaN,NaN,0.042359,0.021176,-0.029671,-0.006095,0.006823,...,-0.457399,0.080854,0.181196,0.224587,0.137867,0.186794,2.189906,1.448099,-1.220837,0.772036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,2020-08-31,202008,0.111146,0.131989,-0.020844,0.066202,-0.072221,0.051883,NaN,-0.114431,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,2020-09-30,202009,0.111267,0.127116,-0.015849,-0.035685,-0.246554,-0.143523,NaN,-0.234777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,2020-10-30,202010,0.110321,0.125304,-0.014983,-0.020384,-0.034573,-0.033520,NaN,0.002032,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,2020-11-30,202011,0.119303,0.118489,0.000813,0.116633,0.301942,0.329403,NaN,0.275280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,2020-12-31,202012,0.208772,0.104041,0.104731,0.044063,0.093717,0.105745,NaN,0.108441,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN