In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import os

In [37]:
cd = "C:\\Users\\ASUS\\Desktop\\Overreaction_replication"

In [38]:
os.listdir(cd)

['.Rhistory',
 '1-year treasury yield.csv',
 'AAA.csv',
 'BAA.csv',
 'Belief overreaction and stock market puzzles Replication.docx',
 'code',
 'compustat.csv',
 'CPILFESL.csv',
 'CRSP.csv',
 'economic policy uncertainty index.csv',
 'FF5_data.csv',
 'FF_5.csv',
 'financial_ratio.csv',
 'IBES.csv',
 'Inflation.csv',
 'link_data.csv',
 'Long-Term Government Bond Yields.csv',
 'LTG_portfolio.csv',
 'LTG_portfolio_return.csv',
 'LTG_portfolio_return.dta',
 'market_level_data.csv',
 'MULTPL-SHILLER_PE_RATIO_MONTH.csv',
 'MULTPL-SP500_DIV_YIELD_MONTH.csv',
 'MULTPL-SP500_INFLADJ_MONTH.csv',
 'MULTPL-SP500_PE_RATIO_MONTH.csv',
 'refine_financial_ratio.csv',
 'Result',
 'sp500.csv',
 'sp500_data.csv',
 'sp500_index.csv',
 'SVIX2.csv',
 'table1_panelA.docx',
 'table1_panelB.docx',
 'table1_panelC.docx',
 'table2_panelA_1.docx',
 'table2_panelA_3.docx',
 'table2_panelA_5.docx',
 'table2_panelB_1.docx',
 'table2_panelB_3.docx',
 'table2_panelB_5.docx',
 'table3.docx',
 'table4_1.docx',
 'table4_3.docx',
 'table4_5.docx',
 'table5.docx',
 'table6.docx',
 'table7_3.docx',
 'table7_5.docx',
 'table8.docx',
 'table9_panelA.docx',
 'table9_panelB.docx',
 'whole_firm_data.csv']

In [39]:
os.chdir(cd)

## S&P500 data

In [102]:
data = pd.read_csv('sp500_data.csv')

In [103]:
data

,date,rankdate,LTG,epspi,EPS,EPS_1,EPS_2,EPS_3,EPS_4,EPS_5,...,delta_LTG,forecast_error,e_cae,dp,pe,SVIX,term_spread,credit_spread,USEPUINDXM,INFCPI1YR
0,1981-12-31,198112,0.134848,0.016567,0.014335,0.014687,0.017453,0.016973,0.019160,0.021664,...,NaN,-0.108739,NaN,-2.926206,2.086914,NaN,0.065511,0.151034,NaN,7.70
1,1982-01-29,198201,0.137856,0.016604,0.014394,0.014679,0.017367,0.018145,0.020553,0.023327,...,NaN,-0.107509,NaN,-2.868219,2.045109,NaN,0.018679,0.119100,NaN,6.62
2,1982-02-26,198202,0.135461,0.014778,0.014661,0.016001,0.019101,0.020099,0.022771,0.025847,...,NaN,-0.141664,NaN,-2.840439,2.033398,NaN,-0.020577,0.117856,NaN,6.62
3,1982-03-31,198203,0.134088,0.014925,0.014838,0.016203,0.019189,0.020180,0.022837,0.025888,...,NaN,-0.124959,NaN,-2.803460,2.012233,NaN,-0.006473,0.142918,NaN,6.62
4,1982-04-30,198204,0.137454,0.014885,0.014776,0.015817,0.018980,0.020095,0.022828,0.025995,...,NaN,-0.121344,NaN,-2.847312,2.075684,NaN,-0.007900,0.148801,NaN,6.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,2020-08-31,202008,0.111146,0.155889,0.137848,0.146807,0.185391,0.213238,0.223829,0.244574,...,-0.020844,NaN,-0.006572,-4.051285,3.538347,NaN,1.609438,0.373860,224.42637,1.77
465,2020-09-30,202009,0.111267,0.156205,0.138297,0.128020,0.162646,0.189234,0.201482,0.221129,...,-0.015849,NaN,-0.008004,-4.045554,3.534270,NaN,1.654558,0.374693,218.05829,1.77
466,2020-10-30,202010,0.110321,0.157080,0.137847,0.131456,0.164931,0.191634,0.204860,0.224725,...,-0.014983,NaN,-0.005666,-4.062846,3.563883,NaN,1.804498,0.381056,249.17362,2.07
467,2020-11-30,202011,0.119303,0.136883,0.135264,0.137873,0.167490,0.194547,0.208777,0.229903,...,0.000813,NaN,-0.146600,-4.104395,3.615233,NaN,1.981001,0.361013,246.70710,2.07
468,2020-12-31,202012,0.208772,0.133661,0.132002,0.136154,0.165874,0.192546,0.209741,0.231225,...,0.104731,NaN,-0.173001,-4.147745,3.670206,NaN,2.230014,0.335207,246.12610,2.07

In [104]:
for horizon in range(1, 6):
    name = 'return_' + str(horizon)
    data[name] = data['return'].rolling(12 * horizon).sum().shift(-12 * horizon)

In [105]:
data['return_1_3'] = data['return_1'] + 0.9775926 * data['return_2'] + 0.9775926 ** 2 * data['return_3']

In [106]:
data['return_1_5'] = data['return_1_3'] + 0.9775926 ** 3 * data['return_4'] + 0.9775926 ** 4 * data['return_5']

In [107]:
# For table 5
data['forecast_error_m1'] = data['forecast_error'].shift(12)
data['forecast_error_m2'] = data['forecast_error'].shift(24)
data['forecast_error_m3'] = data['forecast_error'].shift(36)
data['forecast_error_m4'] = data['forecast_error'].shift(48)

data['delta_LTG_1'] = data['delta_LTG'].shift(-12)
data['delta_LTG_2'] = data['delta_LTG'].shift(-24)
data['delta_LTG_3'] = data['delta_LTG'].shift(-36)
data['delta_LTG_4'] = data['delta_LTG'].shift(-48)
data['delta_LTG_5'] = data['delta_LTG'].shift(-60)

In [108]:
data.to_csv('sp500_data.csv', index=False)

In [109]:
data

,date,rankdate,LTG,epspi,EPS,EPS_1,EPS_2,EPS_3,EPS_4,EPS_5,...,return_1_5,forecast_error_m1,forecast_error_m2,forecast_error_m3,forecast_error_m4,delta_LTG_1,delta_LTG_2,delta_LTG_3,delta_LTG_4,delta_LTG_5
0,1981-12-31,198112,0.134848,0.016567,0.014335,0.014687,0.017453,0.016973,0.019160,0.021664,...,1.856124,NaN,NaN,NaN,NaN,-0.008387,-0.001760,-0.006031,-0.005391,-0.003825
1,1982-01-29,198201,0.137856,0.016604,0.014394,0.014679,0.017367,0.018145,0.020553,0.023327,...,2.147854,NaN,NaN,NaN,NaN,-0.012181,-0.003120,-0.003085,-0.005614,-0.004011
2,1982-02-26,198202,0.135461,0.014778,0.014661,0.016001,0.019101,0.020099,0.022771,0.025847,...,2.532424,NaN,NaN,NaN,NaN,-0.009370,-0.001654,-0.006018,-0.004148,-0.002379
3,1982-03-31,198203,0.134088,0.014925,0.014838,0.016203,0.019189,0.020180,0.022837,0.025888,...,2.696003,NaN,NaN,NaN,NaN,-0.007178,-0.005280,-0.004735,-0.005231,-0.000672
4,1982-04-30,198204,0.137454,0.014885,0.014776,0.015817,0.018980,0.020095,0.022828,0.025995,...,2.557772,NaN,NaN,NaN,NaN,-0.010640,-0.005777,-0.006621,-0.002297,-0.001086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,2020-08-31,202008,0.111146,0.155889,0.137848,0.146807,0.185391,0.213238,0.223829,0.244574,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,2020-09-30,202009,0.111267,0.156205,0.138297,0.128020,0.162646,0.189234,0.201482,0.221129,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,2020-10-30,202010,0.110321,0.157080,0.137847,0.131456,0.164931,0.191634,0.204860,0.224725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,2020-11-30,202011,0.119303,0.136883,0.135264,0.137873,0.167490,0.194547,0.208777,0.229903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,2020-12-31,202012,0.208772,0.133661,0.132002,0.136154,0.165874,0.192546,0.209741,0.231225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## firm_level

In [110]:
firm_data = pd.read_csv('market_level_data.csv')

In [111]:
firm_data

,PERMNO,date,rankdate,NCUSIP,PRC,RET,SHROUT,CFACSHR,vwretd,CUSIP,...,LTG,ann_cfacshr,Year,lag_LTG,delta_LTG,MV,lag_MV,log_RET,forecast_error,pe
0,10057,1977-10-31,197710,00462610,11.12500,-0.101010,4410,1.0,-0.039278,00462610,...,NaN,1.0,1977,NaN,NaN,4.906125e+04,NaN,-0.106483,NaN,2.839978
1,10057,1977-11-30,197711,00462610,13.25000,0.204494,4410,1.0,0.045440,00462610,...,NaN,1.0,1977,NaN,NaN,5.843250e+04,49061.25,0.186060,NaN,3.014780
2,10057,1977-12-30,197712,00462610,12.62500,-0.047170,4410,1.0,0.008223,00462610,...,NaN,1.0,1977,NaN,NaN,5.567625e+04,58432.50,-0.048319,NaN,2.458718
3,10057,1978-01-31,197801,00462610,12.75000,0.009901,4410,1.0,-0.055199,00462610,...,NaN,1.0,1978,NaN,NaN,5.622750e+04,55676.25,0.009852,NaN,2.468570
4,10057,1978-02-28,197802,00462610,13.75000,0.078431,4410,1.0,-0.009275,00462610,...,NaN,1.0,1978,NaN,NaN,6.063750e+04,56227.50,0.075507,NaN,2.544078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263032,93429,2020-09-30,202009,12503M10,87.74000,-0.044122,108758,1.0,-0.035056,12503M10,...,0.0280,1.0,2020,0.0275,0.0005,9.542427e+06,9982896.82,-0.045125,NaN,3.265418
263033,93429,2020-10-30,202010,12503M10,81.29000,-0.073513,108042,1.0,-0.020178,12503M10,...,0.0300,1.0,2020,0.0275,0.0025,8.782734e+06,9542426.92,-0.076355,NaN,3.189063
263034,93429,2020-11-30,202011,12503M10,91.32000,0.128552,108042,1.0,0.123707,12503M10,...,0.0349,1.0,2020,0.0270,0.0079,9.866395e+06,8782734.18,0.120935,NaN,3.305409
263035,93429,2020-12-31,202012,12503M10,93.12000,0.019711,108042,1.0,0.045048,12503M10,...,0.0349,1.0,2020,0.0214,0.0135,1.006087e+07,9866395.44,0.019519,NaN,3.324929
263036,93436,2020-12-31,202012,88160R10,705.66998,0.243252,959854,3.0,0.045048,88160R10,...,4.0794,3.0,2020,NaN,NaN,6.773402e+08,NaN,0.217731,NaN,NaN

In [112]:
financial_ratio = pd.read_csv('refine_financial_ratio.csv')

In [113]:
financial_ratio

         PERMNO    datadate  rankdate     bm   pe_exi   pe_inc   dp
0         25881  1975-12-31    197603  1.201    7.418    7.418  NaN
1         25881  1975-12-31    197604  1.201    7.555    7.555  NaN
2         25881  1975-12-31    197605  0.861    5.310    5.310  NaN
3         25881  1975-12-31    197606  0.861    6.416    6.416  NaN
4         25881  1975-12-31    197607  0.861    6.637    6.637  NaN
...         ...         ...       ...    ...      ...      ...  ...
2613728   80577  2019-12-31    202010  0.448   -1.651   -1.651  NaN
2613729   80577  2019-12-31    202011  0.465   -2.156   -2.156  NaN
2613730   80577  2019-12-31    202012  0.465   -2.031   -2.031  NaN
2613731   19654  2020-01-31    202011    NaN -262.770 -262.770  NaN
2613732   19654  2020-01-31    202012  0.070 -183.920 -183.920  NaN

[2613733 rows x 7 columns]

In [114]:
firm_data = pd.merge(firm_data, financial_ratio, how='left', on=['PERMNO', 'datadate', 'rankdate'])

In [115]:
# 只取pay dividend以及earnings是positive的年份: the warnings should be fine
firm_data['dp'] = np.log(firm_data['dp'].str.replace('%', '').astype('float') / 100)
firm_data['pe_exi'] = np.log(firm_data['pe_exi'])
firm_data['pe_inc'] = np.log(firm_data['pe_inc'])
firm_data['log_RET'] = np.log(1 + firm_data['RET'])

C:\Users\ASUS\Desktop\LEARN\python\Anomaly\venv\Lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [116]:
firm_data.sort_values(by=['PERMNO', 'rankdate'], ascending=True, inplace=True)

In [117]:
firm_data

,PERMNO,date,rankdate,NCUSIP,PRC,RET,SHROUT,CFACSHR,vwretd,CUSIP,...,delta_LTG,MV,lag_MV,log_RET,forecast_error,pe,bm,pe_exi,pe_inc,dp
0,10057,1977-10-31,197710,00462610,11.12500,-0.101010,4410,1.0,-0.039278,00462610,...,NaN,4.906125e+04,NaN,-0.106483,NaN,2.839978,1.600,2.780247,2.780247,-2.920625
1,10057,1977-11-30,197711,00462610,13.25000,0.204494,4410,1.0,0.045440,00462610,...,NaN,5.843250e+04,49061.25,0.186060,NaN,3.014780,NaN,NaN,NaN,NaN
2,10057,1977-12-30,197712,00462610,12.62500,-0.047170,4410,1.0,0.008223,00462610,...,NaN,5.567625e+04,58432.50,-0.048319,NaN,2.458718,1.572,2.458734,2.458734,-3.047026
3,10057,1978-01-31,197801,00462610,12.75000,0.009901,4410,1.0,-0.055199,00462610,...,NaN,5.622750e+04,55676.25,0.009852,NaN,2.468570,1.572,2.468608,2.468608,-3.055482
4,10057,1978-02-28,197802,00462610,13.75000,0.078431,4410,1.0,-0.009275,00462610,...,NaN,6.063750e+04,56227.50,0.075507,NaN,2.544078,1.572,2.163668,2.163668,-3.132698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263032,93429,2020-09-30,202009,12503M10,87.74000,-0.044122,108758,1.0,-0.035056,12503M10,...,0.0005,9.542427e+06,9982896.82,-0.045125,NaN,3.265418,0.362,3.048846,3.048846,-3.958067
263033,93429,2020-10-30,202010,12503M10,81.29000,-0.073513,108042,1.0,-0.020178,12503M10,...,0.0025,8.782734e+06,9542426.92,-0.076355,NaN,3.189063,0.362,2.972515,2.972515,-3.877622
263034,93429,2020-11-30,202011,12503M10,91.32000,0.128552,108042,1.0,0.123707,12503M10,...,0.0079,9.866395e+06,8782734.18,0.120935,NaN,3.305409,0.394,3.072184,3.072184,-3.995405
263035,93429,2020-12-31,202012,12503M10,93.12000,0.019711,108042,1.0,0.045048,12503M10,...,0.0135,1.006087e+07,9866395.44,0.019519,NaN,3.324929,0.394,3.091679,3.091679,-4.017384
263036,93436,2020-12-31,202012,88160R10,705.66998,0.243252,959854,3.0,0.045048,88160R10,...,NaN,6.773402e+08,NaN,0.217731,NaN,NaN,0.039,6.129967,6.129967,NaN

In [118]:
for horizon in range(1, 6):
    name = 'return_' + str(horizon)
    firm_data[name] = firm_data[['PERMNO', 'log_RET']].groupby(['PERMNO']).apply(lambda x: x['log_RET'].rolling(12 * horizon).sum().shift(-12 * horizon)).values

In [119]:
firm_data['return_1_3'] = firm_data['return_1'] + 0.9775926 * firm_data['return_2'] + 0.9775926 ** 2 * firm_data['return_3']

In [120]:
firm_data['return_1_5'] = firm_data['return_1_3'] + 0.9775926 ** 3 * firm_data['return_4'] + 0.9775926 ** 4 * firm_data['return_5']

In [121]:
# firm_data = firm_data[(firm_data.rankdate >= 198212)]

In [122]:
firm_data.to_csv('whole_firm_data.csv', index=False)

## LTG Portfolio

In [123]:
LTG_portfolio = pd.read_csv("LTG_portfolio.csv")

In [124]:
LTG_portfolio

     rankdate       Mkt  LLTG_RET  HLTG_RET  LLTG_error  HLTG_error
0      198112 -0.028096 -0.021398 -0.042455   -0.064708   -0.357557
1      198201 -0.026209  0.012239 -0.025446   -0.049336   -0.349761
2      198202 -0.051126 -0.026795 -0.116379   -0.080712   -0.281367
3      198203 -0.010101  0.024760 -0.069597   -0.077113   -0.245584
4      198204  0.043269  0.005781  0.047966   -0.068194   -0.219041
..        ...       ...       ...       ...         ...         ...
464    202008  0.068442  0.067003  0.083357         NaN         NaN
465    202009 -0.035056 -0.036290 -0.056063         NaN         NaN
466    202010 -0.020178  0.010338 -0.035786         NaN         NaN
467    202011  0.123707  0.264065  0.083138         NaN         NaN
468    202012  0.045048  0.042683  0.048528         NaN         NaN

[469 rows x 6 columns]

In [125]:
LTG_portfolio['LLTG_RET'] = np.log(1 + LTG_portfolio.LLTG_RET)
LTG_portfolio['HLTG_RET'] = np.log(1 + LTG_portfolio.HLTG_RET)
LTG_portfolio['Mkt'] = np.log(1 + LTG_portfolio.Mkt)

In [126]:
for horizon in range(1, 6):
    LLTG_name = 'LLTG_' + str(horizon)
    HLTG_name = 'HLTG_' + str(horizon)
    Mkt_name = 'Mkt_' + str(horizon)
    LTG_portfolio[LLTG_name] = LTG_portfolio['LLTG_RET'].rolling(12 * horizon).sum().shift(-12 * horizon)
    LTG_portfolio[HLTG_name] = LTG_portfolio['HLTG_RET'].rolling(12 * horizon).sum().shift(-12 * horizon)
    LTG_portfolio[Mkt_name] = LTG_portfolio['Mkt'].rolling(12 * horizon).sum().shift(-12 * horizon)

In [127]:
for k in ['LLTG', 'HLTG', 'Mkt']:
    name = k + '_1_5'
    LTG_portfolio[name] = 0
    for i in range(1, 6):
        ret_period = k + '_' + str(i)
        LTG_portfolio[name] += 0.9775926 ** (i - 1) * LTG_portfolio[ret_period]
    name = k + '_1_3'
    LTG_portfolio[name] = 0
    for i in range(1, 4):
        ret_period = k + '_' + str(i)
        LTG_portfolio[name] += 0.9775926 ** (i - 1) * LTG_portfolio[ret_period]

In [128]:
LTG_portfolio

,rankdate,Mkt,LLTG_RET,HLTG_RET,LLTG_error,HLTG_error,LLTG_1,HLTG_1,Mkt_1,LLTG_2,...,Mkt_4,LLTG_5,HLTG_5,Mkt_5,LLTG_1_5,LLTG_1_3,HLTG_1_5,HLTG_1_3,Mkt_1_5,Mkt_1_3
0,198112,-0.028498,-0.021630,-0.043383,-0.064708,-0.357557,0.211874,0.139978,0.185834,0.387056,...,0.694289,1.093210,0.559803,0.838934,2.987294,1.191965,1.380017,0.496637,2.384419,0.969534
1,198201,-0.026559,0.012164,-0.025775,-0.049336,-0.349761,0.245313,0.227979,0.253385,0.427947,...,0.730630,1.209745,0.750873,0.986381,3.183789,1.283658,1.811871,0.690221,2.737718,1.154211
2,198202,-0.052479,-0.027160,-0.123727,-0.080712,-0.281367,0.286082,0.373469,0.335632,0.453414,...,0.853102,1.215001,0.968826,1.085669,3.366226,1.384114,2.519928,1.003435,3.103579,1.314965
3,198203,-0.010152,0.024458,-0.072138,-0.077113,-0.245584,0.260708,0.481354,0.379874,0.429092,...,0.915740,1.253824,1.056227,1.119210,3.384472,1.345322,2.923592,1.219958,3.267935,1.390167
4,198204,0.042359,0.005764,0.046851,-0.068194,-0.219041,0.315978,0.472635,0.409077,0.454306,...,0.865446,1.249562,0.997219,1.059709,3.432027,1.435634,2.708970,1.109206,3.114300,1.337864
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,202008,0.066202,0.064854,0.080064,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,202009,-0.035685,-0.036965,-0.057696,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,202010,-0.020384,0.010285,-0.036442,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,202011,0.116633,0.234333,0.079862,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,202012,0.044063,0.041797,0.047388,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
LTG_portfolio = LTG_portfolio[['rankdate', 'Mkt_5', 'Mkt_3', 'Mkt_1_5', 'LLTG_1_5', 'HLTG_1_5', 'LLTG_1_3', 'HLTG_1_3', 'LLTG_error', 'HLTG_error']].reset_index(drop=True)

In [130]:
LTG_portfolio['PMO_1_5'] = LTG_portfolio['LLTG_1_5'] - LTG_portfolio['HLTG_1_5']
LTG_portfolio['PMO_1_3'] = LTG_portfolio['LLTG_1_3'] - LTG_portfolio['HLTG_1_3']

In [131]:
LTG_portfolio['PMO_error'] = LTG_portfolio['LLTG_error'] - LTG_portfolio['HLTG_error']

In [132]:
LTG_portfolio.to_csv('LTG_portfolio_return.csv', index=False)

## FF5

In [133]:
market_data = pd.read_csv('market_level_data.csv')

In [134]:
market_data = pd.merge(market_data, financial_ratio, how='inner', on=['PERMNO', 'datadate', 'rankdate'])

In [135]:
market_data['BV'] = market_data['bm'] * market_data['MV']
market_data['OP'] = market_data['oibdp'] / market_data['BV']
market_data['inv'] = (market_data['at'] - market_data['at'].shift(12)) / market_data['at'].shift(12)

In [136]:
market_data

,PERMNO,date,rankdate,NCUSIP,PRC,RET,SHROUT,CFACSHR,vwretd,CUSIP,...,log_RET,forecast_error,pe,bm,pe_exi,pe_inc,dp,BV,OP,inv
0,10057,1977-10-31,197710,00462610,11.12500,-0.101010,4410,1.0,-0.039278,00462610,...,-0.106483,NaN,2.839978,1.600,16.123,16.123,5.39%,7.849800e+04,0.000155,NaN
1,10057,1977-12-30,197712,00462610,12.62500,-0.047170,4410,1.0,0.008223,00462610,...,-0.048319,NaN,2.458718,1.572,11.690,11.690,4.75%,8.752307e+04,0.000229,NaN
2,10057,1978-01-31,197801,00462610,12.75000,0.009901,4410,1.0,-0.055199,00462610,...,0.009852,NaN,2.468570,1.572,11.806,11.806,4.71%,8.838963e+04,0.000227,NaN
3,10057,1978-02-28,197802,00462610,13.75000,0.078431,4410,1.0,-0.009275,00462610,...,0.075507,NaN,2.544078,1.572,8.703,8.703,4.36%,9.532215e+04,0.000210,NaN
4,10057,1978-03-31,197803,00462610,15.62500,0.150909,4410,1.0,0.034009,00462610,...,0.140552,NaN,2.671911,1.572,9.889,9.889,5.12%,1.083206e+05,0.000185,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240686,93429,2020-09-30,202009,12503M10,87.74000,-0.044122,108758,1.0,-0.035056,12503M10,...,-0.045125,NaN,3.265418,0.362,21.091,21.091,1.91%,3.454359e+06,0.000221,-0.038921
240687,93429,2020-10-30,202010,12503M10,81.29000,-0.073513,108042,1.0,-0.020178,12503M10,...,-0.076355,NaN,3.189063,0.362,19.541,19.541,2.07%,3.179350e+06,0.000240,-0.038921
240688,93429,2020-11-30,202011,12503M10,91.32000,0.128552,108042,1.0,0.123707,12503M10,...,0.120935,NaN,3.305409,0.394,21.589,21.589,1.84%,3.887360e+06,0.000196,-0.038921
240689,93429,2020-12-31,202012,12503M10,93.12000,0.019711,108042,1.0,0.045048,12503M10,...,0.019519,NaN,3.324929,0.394,22.014,22.014,1.80%,3.963983e+06,0.000192,-0.038921
240690,93436,2020-12-31,202012,88160R10,705.66998,0.243252,959854,3.0,0.045048,88160R10,...,0.217731,NaN,NaN,0.039,459.421,459.421,NaN,2.641627e+07,0.000083,5.447848

In [137]:
market_size = market_data.pivot_table(index='rankdate', columns='PERMNO', values='MV')

In [138]:
market_bm = market_data.pivot_table(index='rankdate', columns='PERMNO', values='bm')

In [139]:
market_inv = market_data.pivot_table(index='rankdate', columns='PERMNO', values='inv')

In [140]:
market_OP = market_data.pivot_table(index='rankdate', columns='PERMNO', values='OP')

In [141]:
mask = (~market_size.isna()) & (~market_bm.isna()) & (~market_inv.isna()) & (~market_OP.isna())

In [142]:
mask

PERMNO,10057,10078,10104,10107,10108,10137,10138,10145,10147,10153,...,92709,92890,92988,93002,93089,93096,93132,93422,93429,93436
rankdate,,,,,,,,,,,,,,,,,,,,,
197608,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197609,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197610,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197611,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197612,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202008,False,False,True,True,False,False,True,True,False,False,...,False,False,False,True,True,True,True,False,True,False
202009,False,False,True,True,False,False,True,True,False,False,...,False,False,False,True,True,True,True,False,True,False
202010,False,False,True,True,False,False,True,True,False,False,...,False,False,False,True,True,True,True,False,True,False
202011,False,False,True,True,False,False,True,True,False,False,...,False,False,False,True,True,True,True,False,True,False
202012,False,False,True,True,False,False,True,True,False,False,...,False,False,False,True,True,True,True,False,True,True

In [143]:
mask[mask.index.values % 100 != 7] = False

In [144]:
market_size = market_size[mask]
size_rank = market_size.rank(pct = True)
market_size[size_rank <= 0.5] = 1
market_size[size_rank > 0.5] = 2
market_size = market_size.fillna(method='ffill', axis=0).reset_index()

In [145]:
market_size

PERMNO,rankdate,10057,10078,10104,10107,10108,10137,10138,10145,10147,...,92709,92890,92988,93002,93089,93096,93132,93422,93429,93436
0,197608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,197609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,197610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,197611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,197612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,202008,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN
529,202009,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN
530,202010,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN
531,202011,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN
532,202012,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN

In [146]:
market_size = market_size.melt(id_vars='rankdate', var_name = 'PERMNO', value_vars=market_size.columns[1:], value_name='size_rank')
market_data = pd.merge(market_data, market_size, how='left', on=['PERMNO', 'rankdate'])

In [147]:
market_bm = market_bm[mask]
bm_rank = market_bm.rank(pct = True)
market_bm[bm_rank <= 0.3] = 1
market_bm[(bm_rank > 0.3) & (bm_rank <= 0.7)] = 2
market_bm[bm_rank > 0.7] = 3
market_bm = market_bm.fillna(method='ffill', axis=0).reset_index()

In [148]:
market_bm = market_bm.melt(id_vars='rankdate', var_name = 'PERMNO', value_vars=market_bm.columns[1:], value_name='bm_rank')
market_data = pd.merge(market_data, market_bm, how='left', on=['PERMNO', 'rankdate'])

In [149]:
market_inv = market_inv[mask]
inv_rank = market_inv.rank(pct = True)
market_inv[inv_rank <= 0.3] = 1
market_inv[(inv_rank > 0.3) & (inv_rank <= 0.7)] = 2
market_inv[inv_rank > 0.7] = 3
market_inv = market_inv.fillna(method='ffill', axis=0).reset_index()

In [150]:
market_inv = market_inv.melt(id_vars='rankdate', var_name = 'PERMNO', value_vars=market_inv.columns[1:], value_name='inv_rank')
market_data = pd.merge(market_data, market_inv, how='left', on=['PERMNO', 'rankdate'])

In [151]:
market_OP = market_OP[mask]
OP_rank = market_OP.rank(pct = True)
market_OP[OP_rank <= 0.3] = 1
market_OP[(OP_rank > 0.3) & (OP_rank <= 0.7)] = 2
market_OP[OP_rank > 0.7] = 3
market_OP = market_OP.fillna(method='ffill', axis=0).reset_index()

In [152]:
market_OP = market_OP.melt(id_vars='rankdate', var_name = 'PERMNO', value_vars=market_OP.columns[1:], value_name='OP_rank')
market_data = pd.merge(market_data, market_OP, how='left', on=['PERMNO', 'rankdate'])

In [153]:
FF5 = market_data[['PERMNO', 'date', 'rankdate', 'RET', 'forecast_error', 'MV', 'vwretd', 'size_rank', 'bm_rank', 'inv_rank', 'OP_rank']]

In [154]:
FF5

,PERMNO,date,rankdate,RET,forecast_error,MV,vwretd,size_rank,bm_rank,inv_rank,OP_rank
0,10057,1977-10-31,197710,-0.101010,NaN,4.906125e+04,-0.039278,NaN,NaN,NaN,NaN
1,10057,1977-12-30,197712,-0.047170,NaN,5.567625e+04,0.008223,NaN,NaN,NaN,NaN
2,10057,1978-01-31,197801,0.009901,NaN,5.622750e+04,-0.055199,NaN,NaN,NaN,NaN
3,10057,1978-02-28,197802,0.078431,NaN,6.063750e+04,-0.009275,NaN,NaN,NaN,NaN
4,10057,1978-03-31,197803,0.150909,NaN,6.890625e+04,0.034009,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
240686,93429,2020-09-30,202009,-0.044122,NaN,9.542427e+06,-0.035056,1.0,3.0,2.0,3.0
240687,93429,2020-10-30,202010,-0.073513,NaN,8.782734e+06,-0.020178,1.0,3.0,2.0,3.0
240688,93429,2020-11-30,202011,0.128552,NaN,9.866395e+06,0.123707,1.0,3.0,2.0,3.0
240689,93429,2020-12-31,202012,0.019711,NaN,1.006087e+07,0.045048,1.0,3.0,2.0,3.0
240690,93436,2020-12-31,202012,0.243252,NaN,6.773402e+08,0.045048,NaN,NaN,NaN,NaN

In [155]:
FF5.to_csv('FF_5.csv', index=False)
# Go back to R to generate FF5_data.csv

### After Generate 'FF5_data.csv' from R

In [156]:
# COME BACK TO PYTHON
FF5_data = pd.read_csv('FF5_data.csv')

In [157]:
FF5_data

,date,rankdate,LTG,lag_LTG,delta_LTG,Mkt,SMB,HML,RMW,CMA,f_SMB,f_HML,f_RMW,f_CMA
0,1981-12-31,198112,0.134848,NaN,NaN,-0.028096,0.002558,0.026763,-0.011074,0.002321,0.144587,0.122690,-0.129505,0.029253
1,1982-01-29,198201,0.137856,NaN,NaN,-0.026209,0.016150,0.061881,-0.067443,0.026761,0.179939,0.125221,-0.148055,0.092236
2,1982-02-26,198202,0.135461,NaN,NaN,-0.051126,0.045303,0.089231,-0.043419,-0.017813,0.133547,0.120847,-0.091515,0.010747
3,1982-03-31,198203,0.134088,NaN,NaN,-0.010101,0.012236,0.054431,-0.034200,-0.024831,0.154259,0.067270,-0.086878,-0.002013
4,1982-04-30,198204,0.137454,NaN,NaN,0.043269,0.014968,-0.050282,0.002052,0.013496,0.151234,0.054454,-0.084121,-0.005391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,2020-08-31,202008,0.111146,0.131989,-0.020844,0.068442,-0.033948,-0.016824,0.035089,0.015432,NaN,NaN,NaN,NaN
465,2020-09-30,202009,0.111267,0.127116,-0.015849,-0.035056,-0.007816,-0.000941,-0.011346,-0.014468,NaN,NaN,NaN,NaN
466,2020-10-30,202010,0.110321,0.125304,-0.014983,-0.020178,0.030701,0.030603,-0.032818,0.037418,NaN,NaN,NaN,NaN
467,2020-11-30,202011,0.119303,0.118489,0.000813,0.123707,0.090449,0.077020,0.006093,0.026568,NaN,NaN,NaN,NaN
468,2020-12-31,202012,0.208772,0.104041,0.104731,0.045048,0.024113,0.001625,0.006728,0.031044,NaN,NaN,NaN,NaN

In [158]:
FF5_data['Mkt'] = np.log(1 + FF5_data['Mkt'])
FF5_data['SMB'] = np.log(1 + FF5_data['SMB'])
FF5_data['HML'] = np.log(1 + FF5_data['HML'])
FF5_data['RMW'] = np.log(1 + FF5_data['RMW'])
FF5_data['CMA'] = np.log(1 + FF5_data['CMA'])

In [159]:
FF5_data['Mkt_1_5'] =FF5_data['Mkt'].rolling(60).sum().shift(-60)
for factor in ['SMB', 'HML', 'RMW', 'CMA']:
    for horizon in range(1, 6):
        name = factor + '_' + str(horizon)
        FF5_data[name] = FF5_data[factor].rolling(12 * horizon).sum().shift(-12 * horizon)

In [160]:
for factor in ['SMB', 'HML', 'RMW', 'CMA']:
    name = factor + '_1_5'
    FF5_data[name] = 0
    for i in range(1, 6):
        ret_period = factor + '_' + str(i)
        FF5_data[name] += 0.9775926 ** (i - 1) * FF5_data[ret_period]

In [161]:
FF5_data.to_csv('FF5_data.csv', index=False)

In [162]:
FF5_data

,date,rankdate,LTG,lag_LTG,delta_LTG,Mkt,SMB,HML,RMW,CMA,...,RMW_5,CMA_1,CMA_2,CMA_3,CMA_4,CMA_5,SMB_1_5,HML_1_5,RMW_1_5,CMA_1_5
0,1981-12-31,198112,0.134848,NaN,NaN,-0.028498,0.002554,0.026411,-0.011136,0.002319,...,-0.408253,0.056046,0.190997,0.250436,0.270836,0.380561,1.552811,2.128028,-1.667485,1.082718
1,1982-01-29,198201,0.137856,NaN,NaN,-0.026559,0.016021,0.060042,-0.069825,0.026410,...,-0.367181,0.049215,0.216542,0.190954,0.233116,0.348279,1.425107,1.939606,-1.435699,0.979288
2,1982-02-26,198202,0.135461,NaN,NaN,-0.052479,0.044307,0.085472,-0.044389,-0.017974,...,-0.342226,0.048069,0.255657,0.251898,0.243086,0.361267,1.189958,1.556072,-1.221148,1.095802
3,1982-03-31,198203,0.134088,NaN,NaN,-0.010152,0.012162,0.053001,-0.034799,-0.025145,...,-0.307210,0.075988,0.295924,0.318957,0.266752,0.411658,1.201532,1.379531,-1.064226,1.295306
4,1982-04-30,198204,0.137454,NaN,NaN,0.042359,0.014857,-0.051590,0.002049,0.013406,...,-0.325033,0.071293,0.291009,0.295355,0.291447,0.382618,1.151974,1.673966,-1.045184,1.259799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,2020-08-31,202008,0.111146,0.131989,-0.020844,0.066202,-0.034537,-0.016967,0.034487,0.015314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,2020-09-30,202009,0.111267,0.127116,-0.015849,-0.035685,-0.007847,-0.000942,-0.011411,-0.014573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,2020-10-30,202010,0.110321,0.125304,-0.014983,-0.020384,0.030239,0.030144,-0.033369,0.036735,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,2020-11-30,202011,0.119303,0.118489,0.000813,0.116633,0.086590,0.074198,0.006074,0.026222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,2020-12-31,202012,0.208772,0.104041,0.104731,0.044063,0.023827,0.001624,0.006706,0.030572,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN